# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (필요하면 주석 해제)
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Dart
.packages
pubspec.lock

# Documentation
doc/api/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Environment files
.env
.env.*
!.env.example

# JavaScript (Flutter Web)
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map